language: python

sudo: true

os: linux

language: python
python:
  - "2.7"
  - "3.5"

install:
  - pip install pylint
  - pip install git+git://github.com/pydicom/pydicom.git@4ddd9a70000ec72a53ea2dab8bc8063043691548
  - cd $TRAVIS_BUILD_DIR/
  - python setup.py sdist
  - python setup.py install
  - pylint --version

script:
  - python -m unittest discover -s $TRAVIS_BUILD_DIR/deid/tests/ -p '[t|T]est*.py'
