name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches_ignore: []

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup black environment
        run: conda create --quiet --name black black

      - name: Check formatting
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          black --check --verbose deid

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup conda environment
        run: | 
          conda create --quiet --name testing
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate testing
          python setup.py install

      - name: Test deid
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate testing
          python -m unittest discover -s $TRAVIS_BUILD_DIR/deid/tests/ -p '[t|T]est*.py
